<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="date" content="<%= Time.now.strftime("%Y-%m-%dT%H:%M:%S%Z") %>">

    <title><%= current_page.data.title %> v.<%= ENV['VERSION'] || 'Draft' %></title>

    <meta name="pdfkit-footer_right" content="Page [page] of [topage]">
    <meta name="pdfkit-footer_left" content="[title] | <%= Time.new.strftime("%Y-%m-%d") %>">
    <meta name="pdfkit-footer_font_size" content="8">
    <%= stylesheet_link_tag :pdf, media: :all %>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
      .highlight .gp {
        color: #f8f8f2;
      }
    </style>

    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

</head>

<body class="<%= page_classes %>">

<section class="titlePage">
    <%= image_tag "hero_hand.png", class: "heroHand" %>

    <div class="content">
        <h1 class="title"><%= current_page.data.title %></h1>
        <h2 class="subtitle"><%= current_page.data.subtitle %></h2>
        <p class="serial">Serial: <%= current_page.data.document_serial %></p>
        <p class="date">Date: <%= Time.new.strftime("%Y-%m-%d") %></p>

        <% # The aiv variable is set on appveyor, when building/setting assembly versions   %>
        <% # (see appveyor.yml) %>
        <p class="version">Version: <%= ENV['VERSION'] || 'Draft' %></p>
    </div>

    <footer>
        <p>
            <strong>Headquarters</strong><br/>
            Notakey Latvia SIA<br/>
            Ganu iela 3 - 12, LV-1010, Riga, Latvia<br/>
            <a href="https://www.notakey.com">https://www.notakey.com</a><br/>
            Tel.: +371 20 208 714<br/>
        </p>

        <p><strong>Confidential</strong> - For Internal and Partner Use Only</p>
        <p>&copy; <%= Time.new.strftime("%Y") %> Notakey Latvia SIA. All Rights Reserved.</p>
    </footer>
</section>

<section class="content">
    <%= yield %>
    <% current_page.data.includes && current_page.data.includes.each do |include| %>
        <%= partial "includes/#{include}" %>
    <% end %>
</section>
</body>
</html>

